<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= @flat.url %>);"></div>
<div class="my-container">
  <div class="flat-details">
    <div class="list-flat-details">
      <h1><%= @flat.name %></h1>
      <p><%= @flat.address %></p>
    </div>
    <div class="list-flat-details">
      <h3>A bit more about this flat...</h3>
      <p><%= @flat.description %></p>
    </div>
    <div class="list-flat-details">
      <h3>Details</h3>
      <div class="icons">
          <p class="icon-items"><i class="fas fa-user"></i> <%= @flat.number_of_guests %></p>
          <p class="icon-items"><i class="fas fa-euro-sign"> </i><%= @flat.price_per_night %></p>
      </div>
    </div>
  </div>
  <div class="flat-book-card">
    <h3>Book this place!</h3>
    <form>
      <label for="from">From:</label><br>
      <input type="date" id="from" name="from"><br>
      <label for="to">To:</label><br>
      <input type="date" id="to" name="to"><br>
      <input type="submit" value="Submit" class="submit-btn">
    </form>
  </div>
</div>
